<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= locals.title %></title>
    </head>
    <body>
        <div class="p-1">
            <h1 class="fw-bold"><%= locals.title %></h1>
            <p><%= locals.description %></p>
        </div>

        <form action="/bill" method="post" class="p-1">
            <div class="d-flex flex-column fw-bolder">
                <label for="registrationId">Your Bill ID:</label>
                <div class="d-flex align-items-center p-1 bg-light input_box">
                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                    <input
                        type="text"
                        placeholder="Your Bill ID *"
                        name="registrationId"
                        required
                    />
                </div>
            </div>

            <div class="submit">
                <button class="px-3 py-1 m-1 btn btn-success rounded-0">
                    Check
                </button>
            </div>
        </form>

        <script>
            window.addEventListener("pageshow", (event) => {
                if (
                    event.persisted ||
                    (window.performance &&
                        window.performance.navigation.type == 2)
                ) {
                    // Clear the form inputs when navigating back to the page
                    document.querySelector("form").reset();
                }
            });
        </script>
    </body>
</html>
