<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= locals.title %></title>
    </head>
    <body>
        <div
            class="d-flex justify-content-center align-items-center flex-column"
        >
            <p class="text-center mb-0">
                You have successfully registered your bill. Your bill id is
                <b><%= bill.billId%></b>.
            </p>
            <h1>Thank you !!!</h1>
        </div>
    </body>
</html>
